<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button #r="matMenuTrigger" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/product']">
        <mat-icon>home</mat-icon>
        <span>Productos</span>
      </button>
      <button mat-menu-item [routerLink]="['/person']">
        <mat-icon>people_outline</mat-icon>
        <span>Personas</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Historial</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Capacitacion Angular</span>
</mat-toolbar>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
